.DS_Store
.nodemonignore
.sass-cache/
.idea/
.bower-cache/
.bower-registry/
.bower-tmp/
.settings/
.vscode/
/plugins/
/node_modules/
/public/bower_components/
/build/
/public/scripts/templates.js
/public/styles/**/*.css
/modules/**/build
/modules/**/dist/
/bower_components/
/job/
/minified-assets
/modules/**/node_modules
/npm-debug.log
/sonar-project.properties
!modules/ent-assets/test-data/**
/dist/*
/coverage
/elasticsearch.log
config.json