<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <base href="/">
    <title ng-bind="windowTitle"></title>

    <link rel="apple-touch-icon" sizes="180x180" href="/informer/images/favicon/apple-touch-icon.png?v=5">
    <link rel="icon" type="image/png" href="/informer/images/favicon/favicon-32x32.png?v=5" sizes="32x32">
    <link rel="icon" type="image/png" href="/informer/images/favicon/favicon-16x16.png?v=5" sizes="16x16">
    <link rel="manifest" href="/informer/images/favicon/manifest.json?v=5">
    <link rel="mask-icon" href="/informer/images/favicon/safari-pinned-tab.svg?v=5" color="#2196f3">
    <link rel="shortcut icon" href="/informer/images/favicon/favicon.ico?v=5">
    <meta name="msapplication-config" content="/informer/images/favicon/browserconfig.xml?v=5">
    <meta name="theme-color" content="#2196f3">

    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta property="fb:app_id" content="APP_ID">
    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="APP_URL">
    <meta property="og:image" content="APP_LOGO">
    <meta property="fb:admins" content="APP_ADMIN">

    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto:400,400i,500,500i,700,700i,900,900i|Anonymous+Pro"
          rel="stylesheet" type="text/css">

    <!-- ui-libs-bower.min.css, priority: 50 -->

    <link rel="stylesheet" href="/informer/styles/ui-libs-bower.min.css">


    <!-- ui-styles.min.css, priority: 0 -->

    <link rel="stylesheet" href="/informer/styles/ui-styles.min.css">

    <link rel="stylesheet" href="node_modules/chosen-js/chosen.min.css">
    <link rel="image_src" href="node_modules/chosen-js/chosen-sprite.png">

    <style>
        .grid-container {
            height: 800px;
        }

        .full-size {
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body ng-cloak class="informer" ng-app="partner" layout="column">

<div ng-controller="PartnerReportCtrl as ctrl" flex layout="column">

    <div style="width:300px;">
    <select chosen multiple options="ctrl.countries"
            ng-model="ctrl.filterParams.selectedCountries"
            ng-options="country as country.label for country in ctrl.countries">
    </select>
    </div>

    <md-content ng-if="ctrl.query">

        <!-- Input parameters, if they exist.  This will load up the Informer-created form for query inputs. -->
        <!--<form name="runForm" flex novalidate inf-top-state-color layout="column" ng-submit="ctrl.executeQuery()"-->
              <!--style="padding-bottom:8px;">-->
            <!--<div class="side-padded" ng-if="ctrl.keys.length">-->
                <!--<div class="padded" component="ctrl.query.inputs" ng-model="ctrl.params"></div>-->
            <!--</div>-->

            <!--<div layout="row" class="side-padded">-->
                <!--&lt;!&ndash; button to run query; will be enabled if the run form is valid (not required inputs are not defined-->
                    <!--and the query isn't already running &ndash;&gt;-->
                <!--<md-button type="submit" ng-disabled="runForm.$invalid || ctrl.isRunning" class="md-raised">-->
                    <!--<md-icon>play_arrow</md-icon>-->
                    <!--Run Query-->
                <!--</md-button>-->
                <!--&lt;!&ndash; Indeterminate progress indicator, displays while query is running &ndash;&gt;-->
                <!--<md-progress-circular md-diameter="25" style="margin-top:10px;"-->
                                      <!--ng-show="ctrl.isRunning"></md-progress-circular>-->
            <!--</div>-->
        <!--</form>-->
        <div layout="row" class="side-padded">
            <!-- If we wanted to wait for user input in a filter/parameter, and we're using our own filter inputs, we would add an expression to ng-disabled-->
            <!-- i.e., ctrl.filterParams.selectedCountries.length > 0-->
            <md-button ng-disabled="ctrl.isRunning" class="md-raised" ng-click="ctrl.executeQuery()">
                <md-icon>play_arrow</md-icon>
                    Run Query
            </md-button>
            <!-- Indeterminate progress indicator, displays while query is running -->
            <md-progress-circular md-diameter="25" style="margin-top:10px;"
                ng-show="ctrl.isRunning"></md-progress-circular>
        </div>

        <div layout="column" class="top-padded">

            <!-- Dataset grid to display query results -->
            <div ng-if="ctrl.dataset" inf-dataset="ctrl.dataset">
                <div inf-filters inf-filter-search ng-model="ctrl.settings.chips"
                     query="ctrl.settings.filter" active-chip="ctrl.activeChip" junction="ctrl.settings.junction">
                    <div layout="column" flex inf-filter-chips-sidenav-open="filterSidenav">
                        <inf-dataset-filter-frame dataset="ctrl.dataset" show-filter="ctrl.showFilter">
                            <md-content flex layout="column" class="inf-grid-frame grid-container">
                                <inf-dataset-grid dataset="ctrl.dataset" config="ctrl.config"
                                                  dataset-filter="ctrl.settings.filter"
                                                  limit-fields="ctrl.limitFields" class="full-size"></inf-dataset-grid>
                            </md-content>
                        </inf-dataset-filter-frame>
                    </div>
                </div>
            </div>

        </div>

    </md-content>

    <script>

        {% if user %}
            function httpInterceptor ($httpProvider) {
                $httpProvider.interceptors.push(function () {
                    return {
                        'request': function (config) {
                            //ideally this would be some kind of unique session id/user hash that can be decrypted in an Informer-side plugin
                            //ABC can be replaced with whatever prefix token you'd like
                            config.headers.Authorization = 'ABC {{user}}';
                            return config;
                        }
                    };
                });
            }

            {% endif %}
    </script>
</div>

<script>
    __ngDependencies = ["uiGmapgoogle-maps"]
</script>

<!-- JQuery -->

<script type="text/javascript" src="/informer/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/informer/jquery/jquery-ui.min.js"></script>
<script src="node_modules/chosen-js/chosen.jquery.js"></script>
<script type="text/javascript" src="/informer/scripts/ui-libs-bower.min.js"></script>
<script type="text/javascript" src="/informer/scripts/vendor-scripts.min.js"></script>
<script type="text/javascript" src="/informer/scripts/user-scripts.min.js"></script>
<script type="text/javascript" src="/informer/scripts/highcharts-scripts.min.js"></script>
<script type="text/javascript" src="/informer/scripts/ui-scripts.min.js"></script>
<script type="text/javascript" src="/informer/scripts/ui-templates.min.js"></script>
<script type="text/javascript" src="/informer/api/v_ngv1.js"></script>
<script type="text/javascript" src="/informer/scripts/domains-scripts.min.js"></script>
<script type="text/javascript" src="/informer/scripts/domains-templates.min.js"></script>
<script type="text/javascript" src="/informer/scripts/flow-steps-scripts.min.js"></script>
<script type="text/javascript" src="/informer/scripts/flow-steps-templates.min.js"></script>
<script type="text/javascript" src="/informer/scripts/google-maps-scripts.min.js"></script>
<script type="text/javascript" src="/informer/scripts/google-maps-templates.min.js"></script>
<script type="text/javascript" src="/informer/assets/google-maps/config.js"></script>
<script type="text/javascript" src="/informer/scripts/mysql-query-criteria-scripts.min.js"></script>
<script type="text/javascript" src="/informer/scripts/output-scripts.min.js"></script>
<script type="text/javascript" src="/informer/scripts/output-templates.min.js"></script>
<script type="text/javascript" src="/informer/scripts/reports-scripts.min.js"></script>
<script type="text/javascript" src="/informer/scripts/reports-templates.min.js"></script>
<script type="text/javascript" src="/informer/scripts/smart-job-scripts.min.js"></script>
<script type="text/javascript" src="/informer/scripts/smart-job-templates.min.js"></script>
<script type="text/javascript" src="/informer/scripts/visuals-scripts.min.js"></script>
<script type="text/javascript" src="/informer/scripts/visuals-templates.min.js"></script>
<script type="text/javascript" src="/informer/scripts/geocodio-scripts.min.js"></script>
<script type="text/javascript" src="/informer/scripts/geocodio-templates.min.js"></script>
<script src="lib/angular-chosen.js"></script>


<script language="javascript">
    angular.module('partner', ['informer', 'ngMaterial', 'angular.chosen'])
            .config(function ($mdThemingProvider) {
                $mdThemingProvider.theme('default')
                        .primaryPalette('blue', { default: '600' })
                        .warnPalette('red', { default: '400' })
                        .accentPalette('green', { default: '500' });
            })
            .config(httpInterceptor)
            .controller('PartnerReportCtrl', function ($scope, api, $http) {
                var self = this;

                this.countries = [
                    {label: 'USA', value: 'USA' },
                    {label: 'Germany', value: 'Germany'},
                    {label: 'Brazil', value: 'Brazil'},
                    {label: 'Mexico', value: 'Mexico'}
                ];

                self.filterParams = { selectedCountries: [] };

                self.isRunning = false;
                self.id = 1426;
                self.showFilter = true;
                //self.limitFields = ['id', 'active', 'lastName', 'userName', 'firstName', 'createdDate', 'displayName', 'emailAddress'];
                //load the ad-hoc report we want to run
                api.link('inf:query').get({ id: self.id })
                        .then(function (query) {
                            self.query = query;
                            //get the inputs defined on the ad-hoc report
                            //self.keys = _.pluck(_.get(query, 'inputs.multiInput.inputs', {}), 'name');
                        })
                        .catch(function (err) {
                            console.log(err);
                        });
                /*
                 Function called when clicking the 'Run Query' button
                 */
                this.executeQuery = function () {
                    self.isRunning = true;
                    var name = _.get(self.query, 'name');
                    //get the params entered for the report inputs, and strip out invalid/unnecessary values
//                    var params = _.omit(self.params, function (value) {
//                        return value === undefined || value === null || value.length === 0;
//                    });

                    //if we aren't requiring a parameter/input be filled out, then we don't want to send up anything.  The params object should be an empty object in that case.
                    //in the case of multiple parameters, we just wouldn't include those in the params object, but would include values for other fields we're filtering on.
                    var params = self.filterParams.selectedCountries.length ? { ShipCountry: self.filterParams.selectedCountries } : {};
                    //POST to our query run route, passing up any report inputs
                    $http.post('http://localhost:4000/informer/api/queries/'+self.id+'/_run', {params: params})
                            .then(function () {
                                //get the dataset created for this report run
                                return $http.get('http://localhost:4000/informer/api/queries/'+self.id+'/dataset');
                            })
                            .then(function (response) {
                                //get a handle on the looked-up dataset
                                return api.link('inf:dataset').get({id: response.data.id});
                            })
                            .then(function (dataset) {
                                self.dataset = dataset;
                            })
                            .finally(function () {
                                self.isRunning = false;
                            });
                };
            });

    angular.module('informer')
            .constant('embedded', true)
            .constant('apiRoot', '/informer/api/')
            .constant('version', '5.0.11')
            .constant('build', '')
            .constant('environment', 'production')
            .constant('docRoot', '')
            .constant('serverTimezone', 'America/New_York')
            .constant('buildDate', new Date('2018-03-12T18:41:59.855Z'))
            .run(function (licenseService) {
                licenseService.setLicense({ enterprise: true });
            });
</script>

</body>
</html>